/vendor/
/node_modules/
/.phpunit.result.cache
/.php-cs-fixer.cache
/var/cache/
/var/log/
/var/chrome/
/var/panther/
/var/run/
/config/reference.php
/drivers/
/playwright-report/
/test-results/
/composer.phar
