parameters:
  level: 0
  paths:
    - src
    - SDK/php
    - tests
  scanFiles:
    - tools/qa/source-revision.php
  tmpDir: var/cache/phpstan
  excludePaths:
    analyse:
      - tests/SDK/PHP/psr_stubs.php
