<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/misc/role-rc-rc/rc1-a-b-total-repo/kits/A/RC1/sdk/php/tests" />
        <option value="$PROJECT_DIR$/misc/sdk/php/tests" />
        <option value="$PROJECT_DIR$/misc/role-rc-rc/rc1-a-b-total-repo/RC1/sdk/php/tests" />
        <option value="$PROJECT_DIR$/misc/kits/rc1/A/RC1/sdk/php/tests" />
      </list>
    </option>
  </component>
</project>